absl-py==0.7.1
addict==2.2.1
alabaster==0.7.12
anaconda-client==1.7.2
anaconda-navigator==1.9.7
anaconda-project==0.8.2
asn1crypto==0.24.0
astor==0.8.0
astroid==2.2.5
astropy==3.1.2
atomicwrites==1.3.0
attrs==20.3.0
Babel==2.6.0
backcall==0.1.0
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.7.1
bitarray==0.8.3
bkcharts==0.2
bleach==3.1.0
blis==0.2.4
bokeh==1.0.4
boto==2.49.0
boto3==1.9.199
botocore==1.12.199
bottle==0.12.17
Bottleneck==1.2.1
bz2file==0.98
cairocffi==1.1.0
CairoSVG==2.4.2
certifi==2019.6.16
cffi==1.12.2
chardet==3.0.4
Click==7.0
cloudpickle==0.8.0
clyent==1.2.2
colorama==0.4.1
common==0.1.2
comtypes==1.1.7
conda==4.7.12
conda-build==3.17.8
conda-package-handling==1.3.11
conda-verify==3.1.1
contextlib2==0.5.5
cryptography==2.6.1
cssselect2==0.3.0
cycler==0.10.0
cymem==2.0.2
Cython==0.29.6
cytoolz==0.9.0.1
dask==1.1.4
data==0.4
decorator==4.4.0
defusedxml==0.5.0
distributed==1.26.0
Django==2.2.1
docutils==0.14
dual==0.0.8
dynamo3==0.4.10
edafa==0.1.4
entrypoints==0.3
et-xmlfile==1.0.1
Exten==0.0.0
falcon==2.0.0
fastai==1.0.57
fastcache==1.0.2
fastprogress==0.1.21
-e git+https://github.com/feeluown/FeelUOwn.git@35981343608863bca1ba2ff210171ea2f9abd16b#egg=feeluown
ffpyplayer==4.3.2
filelock==3.0.10
Flask==1.0.2
flywheel==0.5.3
fsspec==0.4.0
funcsigs==1.0.2
future==0.17.1
gast==0.2.2
gensim==3.4.0
gevent==1.4.0
glob2==0.6
graphviz==0.11.1
greenlet==0.4.15
grpcio==1.21.1
h5py==2.9.0
heapdict==1.0.0
html5lib==1.0.1
idna==2.8
imagecodecs==2019.5.22
imagecorruptions==1.0.0
imageio==2.5.0
imagesize==1.1.0
imgaug==0.2.9
importlib-metadata==3.3.0
imutils==0.5.2
iniconfig==1.1.1
ipykernel==5.1.0
ipython==7.4.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.16
itsdangerous==1.1.0
janus==0.6.1
jdcal==1.4
jedi==0.13.3
Jinja2==2.10
jmespath==0.9.4
joblib==0.13.2
json5==0.8.5
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.4.0
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyterlab==0.35.4
jupyterlab-server==0.2.0
kaggle==1.5.6
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
keyring==18.0.0
Kivy==2.0.0
kivy-deps.angle==0.3.0
kivy-deps.glew==0.3.0
kivy-deps.sdl2==0.3.1
Kivy-examples==2.0.0
Kivy-Garden==0.1.4
kiwisolver==1.0.1
labelImg==1.8.3
lazy-object-proxy==1.3.1
libarchive-c==2.8
lightgbm==2.2.3
line-profiler==2.1.1
llvmlite==0.28.0
locket==0.2.0
lxml==4.3.2
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
menuinst==1.4.16
mistune==0.8.4
mkl-fft==1.0.10
mkl-random==1.0.2
mlxtend==0.17.3
mmcv==0.2.13
# Editable install with no version control (mmdet==1.0rc0+0b96173)
-e d:\install\anaconda3\lib\site-packages\mmdet-1.0rc0+0b96173-py3.7-win-amd64.egg
mne==0.21.1
mock==3.0.5
more-itertools==6.0.0
mpmath==1.1.0
msgpack==0.6.1
multiplanarunet==0.2.3
multipledispatch==0.6.0
murmurhash==1.0.2
navigator-updater==0.2.1
nbconvert==5.4.1
nbformat==4.4.0
networkx==2.2
nibabel==3.2.0
nltk==3.4
nose==1.3.7
notebook==5.7.8
numba==0.43.1
numexpr==2.6.9
numpy==1.17.1
numpydoc==0.8.0
nvidia-ml-py3==7.352.0
olefile==0.46
opencv-python==4.1.0.25
openpyxl==2.6.1
Operator==0.0.0
optionaldict==0.1.1
packaging==19.0
paddle==1.0.2
paddlehub==1.1.1
paddlepaddle==1.5.1
paddlepaddle-gpu==1.5.2.post107
pandas==0.24.2
pandocfilters==1.4.2
parso==0.3.4
partd==0.3.10
path.py==11.5.0
pathlib2==2.3.3
patsy==0.5.1
peewee==3.9.6
pep8==1.7.1
pickleshare==0.7.5
Pillow==5.4.1
pkginfo==1.5.0.1
plac==0.9.6
pluggy==0.13.1
ply==3.11
preshed==2.0.1
prettytable==0.7.2
prometheus-client==0.6.0
prompt-toolkit==2.0.9
protobuf==3.8.0
prox==0.0.17
psutil==5.6.1
py==1.10.0
pycocotools==2.0
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycurl==7.43.0.2
pydotplus==2.0.2
pyecharts==1.6.0
pyflakes==2.1.1
Pygments==2.3.1
pylint==2.3.1
pyodbc==4.0.26
pyOpenSSL==19.0.0
pyparsing==2.3.1
pypiwin32==223
PyQt5==5.13.0
PyQt5-sip==4.19.18
pyreadline==2.1
pyrsistent==0.14.11
PySocks==1.6.8
pytest==6.2.1
pytest-arraydiff==0.3
pytest-astropy==0.5.0
pytest-doctestplus==0.3.0
pytest-html==3.1.1
pytest-metadata==1.11.0
pytest-openfiles==0.3.2
pytest-remotedata==0.3.1
pytest-rerunfailures==9.1.1
python-dateutil==2.8.0
python-geoip-python3==1.3
python-slugify==4.0.0
pytz==2018.9
PyWavelets==1.0.2
pywin32==223
pywinpty==0.5.5
PyYAML==5.1
pyzmq==18.0.0
qasync==0.13.0
QtAwesome==0.5.7
qtconsole==4.4.3
QtPy==1.7.0
rarfile==3.0
recordio==0.1.7
requests==2.21.0
rope==0.12.0
ruamel-yaml==0.15.46
ruamel.base==1.0.0
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
s3transfer==0.2.1
scikit-image==0.15.0
scikit-learn==0.20.3
scipy==1.2.1
seaborn==0.9.0
selectivesearch==0.4
selenium==3.141.0
Send2Trash==1.5.0
setup.py==0.1
Shapely==1.6.4.post2
simplegeneric==0.8.1
simplejson==3.17.0
singledispatch==3.4.0.3
six==1.12.0
smart-open==1.8.4
snowballstemmer==1.2.1
sortedcollections==1.1.2
sortedcontainers==2.1.0
soupsieve==1.8
spacy==2.1.8
Sphinx==1.8.5
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sphinxcontrib-websupport==1.1.0
splinter==0.13.0
spyder==3.3.3
spyder-kernels==0.4.2
SQLAlchemy==1.3.1
sqlparse==0.4.1
srsly==0.1.0
statsmodels==0.9.0
sympy==1.3
tables==3.5.1
tblib==1.3.2
tensorboard==1.14.0
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
terminado==0.8.1
terminaltables==3.1.0
testpath==0.4.2
text-unidecode==1.3
thinc==7.0.8
tifffile==2019.7.26
tight==0.1.0
tinycss2==1.0.2
toml==0.10.2
tomlkit==0.7.0
toolz==0.9.0
torch==1.2.0
torchfile==0.1.0
torchnet==0.0.4
torchvision==0.4.0
tornado==6.0.2
tqdm==4.31.1
traitlets==4.3.2
typing-extensions==3.7.4.3
unicodecsv==0.14.1
UNKNOWN==0.0.0
urllib3==1.24.1
UtilsModule==0.0.0
# Editable install with no version control (utime==0.0.1)
-e d:\home\tmp\u-time-master
visdom==0.1.8.8
visualdl==1.3.0
wasabi==0.2.2
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.56.0
wechatpy==1.8.3
Werkzeug==0.14.1
widgetsnbextension==3.4.2
win-inet-pton==1.1.0
win-unicode-console==0.5
wincertstore==0.2
wrapt==1.11.1
xgboost==0.90
xlrd==1.2.0
XlsxWriter==1.1.5
xlwings==0.15.4
xlwt==1.3.0
xmltodict==0.12.0
zict==0.1.4
zipp==3.4.0
