addict==2.2.1
albumentations==0.4.5
appdirs==1.4.4
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
configparser==3.7.3
cycler==0.10.0
decorator==4.4.2
esdk-obs-python==3.19.11
Flask==1.0.2
Flask-Cors==3.0.4
future==0.18.2
gunicorn==19.8.1
idna==2.9
imagecodecs==2020.2.18
imagecorruptions==1.1.0
imageio==2.8.0
imgaug==0.2.6
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.14.1
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.2.1
mmcv==0.5.1
-e git+git@gitee.com:liphone/DetCompetition.git@0fbe0779a4f69864062809ccb5b255e00b09d7bc#egg=mmdet&subdirectory=mmdet-v1
modelarts==1.1.3
networkx==2.4
numpy==1.18.4
opencv-python==4.2.0.34
opencv-python-headless==4.2.0.34
packaging==20.3
pandas==1.0.3
Pillow==7.1.2
pooch==1.1.0
prometheus-client==0.3.1
psutil==5.4.6
pycocotools==2.0.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
PyWavelets==1.1.1
PyYAML==5.3.1
requests==2.23.0
scikit-image==0.17.1
scikit-learn==0.22.2.post1
scipy==1.4.1
seaborn==0.10.1
six==1.14.0
sklearn==0.0
terminaltables==3.1.0
tifffile==2020.5.11
torch==1.5.0
torchvision==0.6.0
tqdm==4.46.0
urllib3==1.21.1
Werkzeug==1.0.1
