addict==2.2.1
albumentations==0.4.5
appdirs==1.4.4
asynctest==0.13.0
attrs==19.3.0
certifi==2020.4.5.1
chardet==3.0.4
cityscapesScripts==1.4.0
codecov==2.0.22
coverage==5.1
cycler==0.10.0
decorator==4.4.2
flake8==3.8.1
future==0.18.2
idna==2.9
imagecodecs==2020.2.18
imagecorruptions==1.1.0
imageio==2.8.0
imgaug==0.2.6
isort==4.3.21
kiwisolver==1.2.0
kwarray==0.5.8
matplotlib==3.2.1
mccabe==0.6.1
mmcv==0.5.4
-e git+git@gitee.com:liphone/DetCompetition.git@2e4a113a546c244ec5c5cb0ffcd063785c28ea4a#egg=mmdet&subdirectory=mmdet-v2
more-itertools==8.3.0
networkx==2.4
numpy==1.18.4
opencv-python==4.2.0.34
opencv-python-headless==4.2.0.34
ordered-set==4.0.1
packaging==20.3
pandas==1.0.3
Pillow==6.2.2
pluggy==0.13.1
py==1.8.1
pycocotools==2.0.0
pycodestyle==2.6.0
pyflakes==2.2.0
pyparsing==2.4.7
pytest==5.4.2
pytest-cov==2.8.1
pytest-runner==5.2
python-dateutil==2.8.1
pytz==2020.1
PyWavelets==1.1.1
PyYAML==5.3.1
requests==2.23.0
scikit-image==0.17.2
scipy==1.4.1
six==1.14.0
terminaltables==3.1.0
tifffile==2020.5.11
torch==1.5.0
torchvision==0.6.0
tqdm==4.46.0
ubelt==0.9.1
urllib3==1.25.9
wcwidth==0.1.9
xdoctest==0.12.0
yapf==0.30.0
